<footer class="bg-dark text-white pt-4">
    <div class="container">
        <div class="row">
            <!-- Doctors Section -->
            <div class="col-md-4">
                <h5>Doctors</h5>
                <ul class="list-unstyled">
                    <li><a href="/doctors/show" class="text-white">Doctor Profiles</a></li>
                    <li><a href="#" class="text-white">Specializations</a></li>
                    <li><a href="#" class="text-white">Appointments</a></li>
                </ul>
            </div>
            <!-- Nurses Section -->
            <div class="col-md-4">
                <h5>Nurses</h5>
                <ul class="list-unstyled">
                    <li><a href="/nurses/show" class="text-white">Nurse Profiles</a></li>
                    <li><a href="#" class="text-white">Departments</a></li>
                    <li><a href="#" class="text-white">Schedules</a></li>
                </ul>
            </div>
            <!-- Patients Section -->
            <div class="col-md-4">
                <h5>Patients</h5>
                <ul class="list-unstyled">
                    <li><a href="/patients/show" class="text-white">Patient Portal</a></li>
                    <li><a href="#" class="text-white">Health Records</a></li>
                    <li><a href="#" class="text-white">Support</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center pt-3">
            <p>&copy; 2024 Lê Văn Hậu. All Rights Reserved.</p>
        </div>
    </div>
</footer>